<nav id="mobile-navigation-pro">
			
        <ul id="mobile-menu-pro">
        <li class="current-menu-item">
          <a href="/admin-dashboard-series">
                <span class="icon-Old-TV"></span>
           Add TV Series
          </a>
        <li>
        <li>
          <a href="/admin-dashboard-movies">
                <span class="icon-Reel"></span>
         Add Movies
          </a>
        </li>
        <li>
          <a href="/admin-upload-movieThrills">
                <span class="icon-Movie"></span>
        Add Movie Thrills
          </a>
        </li>
        <li>
          <a href="/admin-movie-rating-post/">
                <span class="icon-Movie-Ticket"></span>
            Post Movie Rating
          </a>
        </li>
        <li>
          <a href="/admin-upload-ads-posters">
                <span class="icon-Clock"></span>
         Add Ads Posters
          </a>
        </li>
        <li>
          <a href="#!">
                <i class="far fa-bell"></i>
                <span class="user-notification-count">3</span>
            Notifications
          </a>
        </li>
        </ul>
        <div class="clearfix"></div>
        
        <div id="search-mobile-nav-pro">
            <input type="text" placeholder="Search for Movies or TV Series" name="Search" aria-label="Search">
        </div>
        
    </nav>
