<!doctype html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="css/modal.css"> -->
		<link rel="stylesheet" href="../css/moviethrill.css">	 
		<link rel="stylesheet" href="/css/moviethrill.css">	  

		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="../style.css">
		<link rel="stylesheet" href="https://cdn.plyr.io/3.5.0/plyr.css" />
		<!-- <link rel="stylesheet" href="/css/styleme.css" />
		<link rel="stylesheet" href="/css/categories.css" /> -->

		<!-- <link rel="stylesheet" href="css/help.css"> -->
     	<!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">		   -->
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
		
		<link rel="stylesheet" href="icons/fontawesome/css/fontawesome-all.min.css"><!-- FontAwesome Icons -->
		<link rel="stylesheet" href="../icons/fontawesome/css/fontawesome-all.min.css"><!-- FontAwesome Icons -->
		<link rel="stylesheet" href="icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css"><!-- iconsmind.com Icons -->
		<link rel="stylesheet" href="../icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css"><!-- iconsmind.com Icons -->
		<script language="javascript" src="//www.iplocationtools.com/ip-geolocation.js?key=7d62656d626d64656e773f787a"></script>
  <!-- Page Title Here -->
  <link rel="icon" href="img/favicon.png" type="image/png">
		<title>
            tribal play | media 
        </title>

</head>
