<nav id="sidebar-nav"><!-- Add class="sticky-sidebar-js" for auto-height sidebar -->
    <ul id="vertical-sidebar-nav" class="sf-menu">
      <li class="normal-item-pro">
        <a href="/dashboard">
                <span class="icon-Old-TV"></span>
          TV Series
        </a>
      </li>
      <li class="normal-item-pro">
        <a href="/dashboard-movies">
                <span class="icon-Reel"></span>
          Movies
        </a>
      </li>
      <li class="normal-item-pro">
        <a href="/movieThrill">
                <span class="icon-Movie"></span>
       Movie Thrills
        </a>
      </li>
      <li class="normal-item-pro">
        <a href="/newMovie">
                <span class="icon-Movie-Ticket"></span>
          New Arrivals
        </a>
      </li>
      <li class="normal-item-pro">
        <a href="/trailers">
                <span class="icon-Clock"></span>
          Coming Soon
        </a>
      </li>

    </ul>
        <div class="clearfix"></div>
</nav>
