<div class="modal fade" id="PolicyModal" tabindex="-1" role="dialog" aria-labelledby="PolicyModal"
aria-hidden="true">
<button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div style="padding-left: 10px; padding-right: 10px" class="modal-content">
        <h3 style="text-align: center, ">Privacy Policy</h3>
        <h1>Privacy Statement </h1>
        <p>
            This Privacy Statement explains our practices, including your choices, regarding the collection,
            use, and disclosure of certain information, including your personal information, by the Tribal Play
            Inc.
            Contacting Us
            If you have general questions our first-class customer support team will be able to resolve most
            issues you may have using the Tribal Play Services. You can find answers to frequently asked
            questions or contact our customer support team by going to our help center <a href="/faqs">
                https://help.tribalplay.io.</a> For questions specifically about this Privacy Statement, or our
            use of your personal information, cookies or similar technologies, please message us by email at <a
                href="/faqs">privacy@tribalplay.io.</a>
            Information We Collect
            We receive and store information about you such as: Information you provide to us: We collect
            <br>
            o Information you provide to us which includes: <br>
            • your name, email address, address or postal code, payment method(s), and telephone number, gender,
            billing address, birth date and other information. We collect information when you enter it while
            using our service, interact with our customer service, or participate in surveys or marketing
            promotions; <br>
            • information when you choose to provide ratings, taste preferences or otherwise provide information
            to us through our service or elsewhere. <br>
            <br>
            o Information we collect automatically: We collect information about you and your use of our
            service, your interactions with us and our advertising, as well as information regarding your
            computer or other device used to access our service (such as gaming systems, smart TVs, mobile
            devices, set top boxes, and other streaming media devices). This information includes:<br>
            <br>
            • your activity on the Tribal Play service, such as title selections, watch history and search
            queries; your interactions with our emails and texts, and with our messages through push and online
            messaging channels; <br>
            • details of your interactions with our customer service, such as the date, time and reason for
            contacting us, transcripts of any chat conversations, and if you call us, your phone number and call
            recordings;<br>
            • device IDs or other unique identifiers; <br>
            • resettable device identifiers (also known as advertising identifiers), such as those on mobile
            devices, tablets, and streaming media devices that include such identifiers (see the "Cookies and
            Internet Advertising" section below for more information); <br>
            • device and software characteristics (such as type and configuration), connection information,
            statistics on page views, referring source (for example, referral URLs), IP address (which may tell
            us your general location), browser and standard web server log information;<br>

            • information collected via the use of cookies, web beacons and other technologies, including ad
            data (such as information on the availability and delivery of ads, the site URL, as well as the date
            and time). (See our "Cookies and Internet Advertising" section for more details.) <br>
            <br>
            o Information from partners: We collect information from other companies with whom you have a
            relationship (“Partners”). These Partners might include (depending on what services you use): your
            TV or Internet service provider, or other streaming media device providers who make our service
            available on their device; mobile phone carriers or other companies who provide services to you and
            collect payment for the Tribal Play service for distribution to us; and voice assistant platform
            providers who enable interaction with our service via voice commands. The information Partners
            provide us varies depending on the nature of the Partner services, and may include: <br>
            <br>
            • media related search queries and commands you make through Partner devices or voice assistant
            platforms; <br>
            • service activation information such as your email address or other contact information; <br>
            • device IDs or other unique identifiers that support user authentication, the Tribal Play service
            registration experience, Partner payment processing, and the presentation of Tribal Play content to
            you through portions of the Partner user interface.<br>
            <br>
            o Information from other sources: We also obtain information from other sources. We protect this
            information according to the practices described in this Privacy Statement, plus any additional
            restrictions imposed by the source of the data. These sources vary over time, but could include:
            <br>
            <br>
            • service providers that help us determine a location based on your IP address in order to customize
            our service and for other uses consistent with this Privacy Statement; <br>
            • payment service providers who provide us with payment information, or updates to that information,
            based on their relationship with you; <br>
            • online and offline data providers, from which we obtain demographic, interest based and online
            advertising related data; <br>
            • publicly-available sources such as open government databases.<br>
            <br>
            <p>
                <h4 style> Use of Information </h4> <br>
                We use information to provide, analyze, administer, enhance and personalize our services and
                marketing efforts, to process your registration, your orders and your payments, and to
                communicate with you on these and other topics. For example, we use information to:<br>
                <br>o determine your general geographic location, provide localized content, provide you with
                customized and personalized viewing recommendations for movies and TV shows we think will be of
                interest to you, determine your Internet service provider, and help us quickly and efficiently
                respond to inquiries and requests;<br>
                <br>o to coordinate with Partners on making the Tribal Play service available to members and
                providing information to non-members about the availability of the Tribal Play service, based on
                the specific relationship you have with the Partner;<br>

                o prevent, detect and investigate potentially prohibited or illegal activities, including fraud,
                and to enforce our terms (such as determining free trial eligibility)<br>
                <br>
                o analyze and understand our audience, improve our service (including our user interface
                experiences) and optimize content selection, recommendation algorithms and delivery;<br>
                <br>
                o communicate with you concerning our service so that we can send you news about Tribal Play,
                details about new features and content available on Tribal Play, special offers, promotional
                announcements, consumer surveys, and to assist you with operational requests such as password
                reset requests. These communications may be by various methods, such as email, push
                notifications, text message, online messaging channels, and matched identifier
                communications.<br>

                Disclosure of Information<br>
                <br>We disclose your information for certain purposes and to third parties, as described
                below:<br>
                o Tribal Play Inc.<br>
                o Service Providers<br>
                o Partners<br>
                o Promotional Offers<br>
                o Protection of Tribal Play and others<br>
                o Business Transfers<br>
                <br>
                Use in General. <br>
                We use the information we collect from or about you in order to help deliver a first-class user
                experience. Our use of this information may include the following: <br>
                • providing the Tribal Play Services;<br>
                • contacting you, including for promotional purposes;<br>
                • customizing the Content and advertising you view and evaluating how well the Content and
                advertising perform; <br>
                • identifying Content you share; <br>
                • customizing recommendations; conducting research; <br>
                • compiling aggregate data for internal and external business purposes; <br>
                • preventing potentially illegal or harmful activities, including fraud; <br>
                • protecting your and our rights; <br>
                • other uses in accordance with our Terms of Use; <br>
                • and any other purpose that is disclosed to you at the time we collect the information or that
                is related to a request made by you.<br>
                <br>
                Use of Payment Information<br>
                We use payment information, such as credit card numbers and billing ZIP code, to help provide
                the Tribal Play Services. For example, we use payment information to process payments from a
                subscriber (we use a third-party payment processor to do this), to retrieve account information
                for a subscriber, to determine whether a subscriber is eligible for promotions, and to detect
                abuse of the Tribal Play Services.<br>
                <br>
                Use of Precise Location Data<br>
                In order to access certain Tribal Play Services from your mobile device, you may be required to
                share your device’s precise location data (e.g., latitude and longitude) with us. In addition to
                providing you with certain Tribal Play Services, this also enables us to serve you Content
                related to your local area such as news and sports, depending on your subscription. This data
                may also be used to tailor advertising to you based on your location. Use of Aggregate or
                De-Identiied Information. In addition to the individual data use described in this Privacy
                Policy, we may aggregate information about you and other individuals together, or otherwise
                "de-identify" the information about you (which means that the information does not identify you
                personally). We may use information in these forms for any legitimate business purpose,
                including for research and analysis, administration of the Tribal Play Services, advertising
                (e.g., improving our targeting efforts), and promotional purposes.<br>
                <br>
                Children<br>
                Children under 14 years of age are not permitted to register with Tribal Play. You must satisfy
                that age in order to become a member. While individuals under the age of 14 may utilize the
                service, they may do so only with the involvement, supervision, and approval of a parent or
                legal guardian.<br>
                <br>
                Advertising<br>
                <br>We advertise Tribal Play both on the Tribal Play Services as well as on other platforms and
                services. We also display advertisements from other companies on the Tribal Play Services, often
                enabling users to interact with the advertisements or click through to websites or other
                properties owned or operated by other companies. This section provides additional information
                about the collection and use of information from or about you in connection with such
                advertising. <br>
                <br>• Use of Cookies and Similar Technology in Third-Party Advertising. Advertisers, advertising
                technology companies, and service providers that perform advertising-related services for Tribal
                Play and our business partners may use cookies and similar technologies (including for example
                those described in "Information We Collect") to collect information from or about you through
                the Tribal Play Services in order to tailor advertisements, measure advertising effectiveness,
                and enable other enhancements. This information may relate to your use of the Tribal Play
                Services, websites you visited, advertisements you viewed, and your other activities online.
                Advertising that is based on information collected from or about you across websites,
                applications and other platforms over time is known as interest-based or online behavioral
                advertising. <br>
                <br>
                <br>• Viewing Ads. When you view an advertisement, whether or not you click on it, or when you
                interact with an advertisement, the advertiser, advertising technology companies, and service
                providers that perform advertising-related services for us and our business partners may collect
                some information from or about you. The information practices of these third parties are
                governed by their own privacy policies and are not governed by this Privacy Policy. Please be
                aware that Tribal Play does not notify you when you have chosen to click through to another
                website or property when using the Tribal Play Services. We recommend that you familiarize
                yourself with the privacy policies of such websites or properties to determine how they use or
                share any information they separately collect from you.<br>
                <br>
                Deleting/Canceling Your Tribal Play Account<br>
                You may delete your Tribal Play account, in accordance with our Terms of Use, or via the link
                accessible on the Account page. You must cancel your subscription before you are able to delete
                your<br>
                <br>
                <br>Security<br>
                We use reasonable administrative, logical, physical and managerial measures to safeguard your
                personal information against loss, theft and unauthorized access, use and modification. These
                measures are designed to provide a level of security appropriate to the risks of processing your
                personal information.<br>
                <br>
                Changes to This Privacy Statement<br>
                <br>We will update this Privacy Statement from time to time in response to changing legal,
                regulatory or operational requirements. We will provide notice of any such changes (including
                when they will take effect) in accordance with law. Your continued use of the Tribal Play
                service after any such updates take effect will constitute acknowledgement and (as applicable)
                acceptance of those changes. If you do not wish to acknowledge or accept any updates to this
                Privacy Statement, you may cancel your use of the Tribal Play service. To see when this Privacy
                Statement was last updated, please see the "Last Updated" section below. <br>
                <br>
                Thank you for taking the time to read this Privacy Policy. We hope you enjoy the Tribal Play
                Services!<br>
                <a href="/faqs"> Tribal Play</a>,<br>
                Last Updated: 25th July, 2019
            </p>
        </p>
    </div>
</div>
<button class="close btn btn-mobile-pro btn-green-pro noselect">done</button>
</div>

<div class="modal fade" id="TermModal" tabindex="-1" role="dialog" aria-labelledby="TermModal" aria-hidden="true">
<button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<div style="padding-left: 3px;padding-right: 3px;" class="modal-dialog modal-dialog-centered modal-md"
    role="document">
    <div style="padding-left: 10px; padding-right: 10px" class="modal-content">
        <h3 style="text-align: center, ">Term Of Use</h3>
        <h6 style="text-align: center,">
            <p>
                <h4 style> Use of Information </h4> <br>
                We use information to provide, analyze, administer, enhance and personalize our services and
                marketing efforts, to process your registration, your orders and your payments, and to
                communicate with you on these and other topics. For example, we use information to:<br>
                <br>o determine your general geographic location, provide localized content, provide you with
                customized and personalized viewing recommendations for movies and TV shows we think will be of
                interest to you, determine your Internet service provider, and help us quickly and efficiently
                respond to inquiries and requests;<br>
                <br>o to coordinate with Partners on making the Tribal Play service available to members and
                providing information to non-members about the availability of the Tribal Play service, based on
                the specific relationship you have with the Partner;<br>

                o prevent, detect and investigate potentially prohibited or illegal activities, including fraud,
                and to enforce our terms (such as determining free trial eligibility)<br>
                <br>
                o analyze and understand our audience, improve our service (including our user interface
                experiences) and optimize content selection, recommendation algorithms and delivery;<br>
                <br>
                o communicate with you concerning our service so that we can send you news about Tribal Play,
                details about new features and content available on Tribal Play, special offers, promotional
                announcements, consumer surveys, and to assist you with operational requests such as password
                reset requests. These communications may be by various methods, such as email, push
                notifications, text message, online messaging channels, and matched identifier
                communications.<br>

                Disclosure of Information<br>
                <br>We disclose your information for certain purposes and to third parties, as described
                below:<br>
                o Tribal Play Inc.<br>
                o Service Providers<br>
                o Partners<br>
                o Promotional Offers<br>
                o Protection of Tribal Play and others<br>
                o Business Transfers<br>
                <br>
                Use in General. <br>
                We use the information we collect from or about you in order to help deliver a first-class user
                experience. Our use of this information may include the following: <br>
                • providing the Tribal Play Services;<br>
                • contacting you, including for promotional purposes;<br>
                • customizing the Content and advertising you view and evaluating how well the Content and
                advertising perform; <br>
                • identifying Content you share; <br>
                • customizing recommendations; conducting research; <br>
                • compiling aggregate data for internal and external business purposes; <br>
                • preventing potentially illegal or harmful activities, including fraud; <br>
                • protecting your and our rights; <br>
                • other uses in accordance with our Terms of Use; <br>
                • and any other purpose that is disclosed to you at the time we collect the information or that
                is related to a request made by you.<br>
                <br>
                Use of Payment Information<br>
                We use payment information, such as credit card numbers and billing ZIP code, to help provide
                the Tribal Play Services. For example, we use payment information to process payments from a
                subscriber (we use a third-party payment processor to do this), to retrieve account information
                for a subscriber, to determine whether a subscriber is eligible for promotions, and to detect
                abuse of the Tribal Play Services.<br>
                <br>
                Use of Precise Location Data<br>
                In order to access certain Tribal Play Services from your mobile device, you may be required to
                share your device’s precise location data (e.g., latitude and longitude) with us. In addition to
                providing you with certain Tribal Play Services, this also enables us to serve you Content
                related to your local area such as news and sports, depending on your subscription. This data
                may also be used to tailor advertising to you based on your location. Use of Aggregate or
                De-Identiied Information. In addition to the individual data use described in this Privacy
                Policy, we may aggregate information about you and other individuals together, or otherwise
                "de-identify" the information about you (which means that the information does not identify you
                personally). We may use information in these forms for any legitimate business purpose,
                including for research and analysis, administration of the Tribal Play Services, advertising
                (e.g., improving our targeting efforts), and promotional purposes.<br>
                <br>
                Children<br>
                Children under 14 years of age are not permitted to register with Tribal Play. You must satisfy
                that age in order to become a member. While individuals under the age of 14 may utilize the
                service, they may do so only with the involvement, supervision, and approval of a parent or
                legal guardian.<br>
                <br>
                Advertising<br>
                <br>We advertise Tribal Play both on the Tribal Play Services as well as on other platforms and
                services. We also display advertisements from other companies on the Tribal Play Services, often
                enabling users to interact with the advertisements or click through to websites or other
                properties owned or operated by other companies. This section provides additional information
                about the collection and use of information from or about you in connection with such
                advertising. <br>
                <br>• Use of Cookies and Similar Technology in Third-Party Advertising. Advertisers, advertising
                technology companies, and service providers that perform advertising-related services for Tribal
                Play and our business partners may use cookies and similar technologies (including for example
                those described in "Information We Collect") to collect information from or about you through
                the Tribal Play Services in order to tailor advertisements, measure advertising effectiveness,
                and enable other enhancements. This information may relate to your use of the Tribal Play
                Services, websites you visited, advertisements you viewed, and your other activities online.
                Advertising that is based on information collected from or about you across websites,
                applications and other platforms over time is known as interest-based or online behavioral
                advertising. <br>
                <br>
                <br>• Viewing Ads. When you view an advertisement, whether or not you click on it, or when you
                interact with an advertisement, the advertiser, advertising technology companies, and service
                providers that perform advertising-related services for us and our business partners may collect
                some information from or about you. The information practices of these third parties are
                governed by their own privacy policies and are not governed by this Privacy Policy. Please be
                aware that Tribal Play does not notify you when you have chosen to click through to another
                website or property when using the Tribal Play Services. We recommend that you familiarize
                yourself with the privacy policies of such websites or properties to determine how they use or
                share any information they separately collect from you.<br>
                <br>
                Deleting/Canceling Your Tribal Play Account<br>
                You may delete your Tribal Play account, in accordance with our Terms of Use, or via the link
                accessible on the Account page. You must cancel your subscription before you are able to delete
                your<br>
                <br>
                <br>Security<br>
                We use reasonable administrative, logical, physical and managerial measures to safeguard your
                personal information against loss, theft and unauthorized access, use and modification. These
                measures are designed to provide a level of security appropriate to the risks of processing your
                personal information.<br>
                <br>
                Changes to This Privacy Statement<br>
                <br>We will update this Privacy Statement from time to time in response to changing legal,
                regulatory or operational requirements. We will provide notice of any such changes (including
                when they will take effect) in accordance with law. Your continued use of the Tribal Play
                service after any such updates take effect will constitute acknowledgement and (as applicable)
                acceptance of those changes. If you do not wish to acknowledge or accept any updates to this
                Privacy Statement, you may cancel your use of the Tribal Play service. To see when this Privacy
                Statement was last updated, please see the "Last Updated" section below. <br>
                <br>
                Thank you for taking the time to read this Privacy Policy. We hope you enjoy the Tribal Play
                Services!<br>
                <a href="/faqs"> Tribal Play</a>,<br>
                Last Updated: 25th July, 2019
            </p>

        </h6>
        <button style="padding-left: 50px; padding-right: 50px"
            class="close btn btn-mobile-pro btn-green-pro noselect">done</button>
    </div><!-- close .modal-content -->
</div><!-- close .modal-dialog -->

</div><!-- close .modal -->
