<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  <!-- Page Title Here -->
  <link rel="icon" href="img/favicon.png" type="image/png">
<title>tribal play| media</title>
<style>
    body {
        background-image: url("./images/401.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body>

<img src="./images/logo.png" alt="">
   
   <p>The page you request for does not exists. <a href="/">click</a>  to return to main page</p> 

</body>

</html>