<!doctype html>
<html lang="en">
	
<!-- Mirrored from progression-studios.com/Tribal Play/dashboard-home.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Apr 2018 17:02:46 GMT -->
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
		
		<link rel="stylesheet" href="icons/fontawesome/css/fontawesome-all.min.css"><!-- FontAwesome Icons -->
		<link rel="stylesheet" href="icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css"><!-- iconsmind.com Icons -->
		
		
		        <title>
            tribal play | media
        </title>

	</head>
	<body>
		<div id="sidebar-bg">
			
      <header id="videohead-pro" class="sticky-header">
			<div id="video-logo-background"><a href="dashboard-home.html"><img src="images/logo-video-layout.png" alt="Logo"></a></div>
	
			



			<div id="video-search-header">
				<div id="search-icon-more"></div>
				<form action="results" method="GET" id="video-search-header-filtering-padding">
             
            
            <input type="text" placeholder="Search for Movies or TV Series" aria-label="Search" name="search">
                <div id="video-search-header-filtering">



	
						<div id="video-search-header-buttons">
						<button class="btn btn-green-pro" type="submit">Filter Search</button>
							<a href="#!" class="btn">Reset</a>
						</div><!-- close #video-search-header-buttons -->
					</form><!-- #video-search-header-filtering-padding -->
				</div><!-- close #video-search-header-filtering -->
			</div><!-- close .video-search-header -->
			




			<div id="mobile-bars-icon-pro" class="noselect"><i class="fas fa-bars"></i></div>
			
			
			<div id="header-user-profile">
				<div id="header-user-profile-click" class="noselect">
					<img src="images/demo/user-profile.jpg">
					<div id="header-username"></div><i class="fas fa-angle-down"></i>
				</div><!-- close #header-user-profile-click -->
				<div id="header-user-profile-menu">
					<ul>
						<li><a href="dashboard-profile.html"><span class="icon-User"></span>My Profile</a></li>
						<li><a href="dashboard-favorites.html"><span class="icon-Favorite-Window"></span>My Favorites</a></li>
						<li><a href="dashboard-account.html"><span class="icon-Gears"></span>Account Details</a></li>
						<li><a href="#!"><span class="icon-Life-Safer"></span>Help/Support</a></li>
						<li><a href="/logout"><span class="icon-Power-3"></span>Log Out</a></li>
					</ul>
				</div><!-- close #header-user-profile-menu -->
			</div><!-- close #header-user-profile -->
			
			<div id="header-user-notification">
				<div id="header-user-notification-click" class="noselect">
					<i class="far fa-bell"></i>
					<!-- <span class="user-notification-count">3</span> -->
				</div><!-- close #header-user-profile-click -->
				<div id="header-user-notification-menu">
					<h3>Notifications</h3>
					</div>
			</div><!-- close #header-user-notification -->
			
			
			
			<div class="clearfix"></div>
			
			<% include partials/admin-nav-mobile %>			
      </header>
		
		
		
	  <% include partials/admin-nav-web %>	
		<main id="col-main">
					
				<div class="registration-genres-step">
					<h2 style="align-content: center; padding-left:400px">Movies Posters</h2>
					
					<br>
					<br>

					<ul class="registration-genres-choice">
					<a href="/admin-upload-movies-poster">
						<li>
							<i class="fas fa-check-circle"></i>
							<img src="images/genres/drama.png" alt="Drama">
							<h6>Movie poster</h6>
						</li>
					</a>

					<a href="/admin-upload-series-poster">
						<li>
							<i class="fas fa-check-circle"></i>
							<img src="images/genres/comedy.png" alt="Comedy">
							<h6>Series Poster</h6>
						</li>
					</a>
					
					<a href="/admin-upload-trailer-poster">
						<li>
							<i class="fas fa-check-circle"></i>
							<img src="images/genres/action.png" alt="Action">
							<h6>Trailer Poster</h6>
						</li>
					</a>	

					<a href="/admin-upload-newlyAdded-poster">
						<li>
							<i class="fas fa-check-circle"></i>
							<img src="images/genres/action.png" alt="Action">
							<h6>Newly Added Poster</h6>
						</li>
					</a>	

					</ul>

					<div class="clearfix"></div>
				</div><!-- close .registration-genres-step -->
			</div>
			<div class="clearfix"></div>
			<br>
			<br />
		</main>
		
		
		</div><!-- close #sidebar-bg-->
		
		<!-- Required Framework JavaScript -->
		<script src="js/libs/jquery-3.3.1.min.js"></script><!-- jQuery -->
		<script src="js/libs/popper.min.js" defer></script><!-- Bootstrap Popper/Extras JS -->
		<script src="js/libs/bootstrap.min.js" defer></script><!-- Bootstrap Main JS -->
		<!-- All JavaScript in Footer -->
		
		<!-- Additional Plugins and JavaScript -->
		<script src="js/navigation.js" defer></script><!-- Header Navigation JS Plugin -->
		<script src="js/jquery.flexslider-min.js" defer></script><!-- FlexSlider JS Plugin -->
		<script src="js/jquery-asRange.min.js" defer></script><!-- Range Slider JS Plugin -->
		<script src="js/circle-progress.min.js" defer></script><!-- Circle Progress JS Plugin -->
		<script src="js/afterglow.min.js" defer></script><!-- Video Player JS Plugin -->
		<script src="js/script.js" defer></script><!-- Custom Document Ready JS -->
		<script src="js/script-dashboard.js" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
		
		
	</body>

<!-- Mirrored from progression-studios.com/Tribal Play/dashboard-home.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Apr 2018 17:04:30 GMT -->
</html>