<% include partials/head %>
<% include partials/header %>
<% include partials/navigation-bar %>
<main id="col-main">
			
			
			

	<ul class="dashboard-genres-pro">
		<li >
			<img src="images/genres/drama.png" alt="Drama">
			<h6>Drama</h6>
		</li>
		<li>
			<img src="images/genres/comedy.png" alt="Comedy">
			<h6>Comedy</h6>
		</li>
		<li class="active">
			<img src="images/genres/action.png" alt="Action">
			<h6>Action</h6>
		</li>
		<li>
			<img src="images/genres/romance.png" alt="Romance">
			<h6>Romance</h6>
		</li>
		<li>
			<img src="images/genres/horror.png" alt="Horror">
			<h6>Horror</h6>
		</li>
		<li>
			<img src="images/genres/fantasy.png" alt="Fantasy">
			<h6>Fantasy</h6>
		</li>
		<li>
			<img src="images/genres/sci-fi.png" alt="Sci-Fi">
			<h6>Sci-Fi</h6>
		</li>
		<li>
			<img src="images/genres/thriller.png" alt="Thriller">
			<h6>Thriller</h6>
		</li>
		<li>
			<img src="images/genres/western.png" alt="Western">
			<h6>Western</h6>
		</li>
		<li>
			<img src="images/genres/adventure.png" alt="Adventure">
			<h6>Adventure</h6>
		</li>
		<li>
			<img src="images/genres/animation.png" alt="Animation">
			<h6>Animation</h6>
		</li>
		<li>
			<img src="images/genres/documentary.png" alt="Documentary">
			<h6>Documentary</h6>
		</li>
	</ul>
	
	<div class="clearfix"></div>
	
	<div class="dashboard-container">

<ul class="dashboard-sub-menu">
    <li style="color: #ff4141"><a href="/trending-movies" style="color: #ff4141">Trending</a></li>
	<!-- <li><a href="/">All</a></li> -->
	<li class="current"><a href="#">Available</a></li>
	<li><a href="/top-rated">Top Rated</a></li>
	<li><a href="/up-coming">Up Coming</a></li>
	<li><a href="/trailers">Trailers</a></li>
</ul><!-- close .dashboard-sub-menu -->
		<!-- <h4 class="heading-extra-margin-bottom">Action</h4> -->
		<div class="flexslider progression-studios-dashboard-slider progression-studios-full-height-slider">
			<div class="progression-studios-slider-dashboard-image-background" style="background-image:url(images/demo/coming-soon.jpg);"></div>
		</div><!-- close .progression-studios-slider - See /js/script.js file for options -->
			</div>
		</main>
		
		
		
		
		<% include partials/script %>		
		
	</body>

<!-- Mirrored from progression-studios.com/skrn/dashboard-movies.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Apr 2018 17:05:33 GMT -->
</html>