<!doctype html>
<html lang="en">
	
<!-- Mirrored from progression-studios.com/skrn/faqs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Apr 2018 17:04:32 GMT -->
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
		
		<link rel="stylesheet" href="icons/fontawesome/css/fontawesome-all.min.css"><!-- FontAwesome Icons -->
		<link rel="stylesheet" href="icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css"><!-- iconsmind.com Icons -->
		  <title>Tribal Play | media</title>
  

	</head>
	<body>
		
		<header id="masthead-pro">
			<!-- <div class="container"> -->
				  <!-- Page Title Here -->
  <link rel="icon" href="img/favicon.png" type="image/png">
				
				<h1><a href="/"><img src="images/logo.png" alt="Logo"></a></h1>
				
		</header>
		
		<div id="page-title-pro">
			<div class="container">
				<div class="row">
					<h1>Questions? Look here.</h1>
					<h6>Can’t find an answer? Chat us at <a href="mailto:tribalplay.io@gmail.com">help@tribalplay.io</a></h6>
				</div><!-- close .row -->
			</div><!-- close .container -->
		</div><!-- close #page-title-pro -->
		
		<div id="content-pro">
			
  	 		<div class="container">
				
				<div class="row">
					<div class="col-md">
						
						<div class="jumbotron jumbotron-fluid jumbotron-pro">
						  <div class="container">
							  <span class="icon-User"></span>
							  <h6 class="light-weight-heading">Subscriber</h6>
						  </div>
						</div><!-- close .jumbotron -->
						
					</div><!-- close .col-md -->
					<div class="col-md">
						
						<div class="jumbotron jumbotron-fluid jumbotron-pro">
						  <div class="container">
							  <span class="icon-TV"></span>
							  <h6 class="light-weight-heading">Guest</h6>
						  </div>
						</div><!-- close .jumbotron -->
						
					</div><!-- close .col-md -->
				</div><!-- close .row -->
				
				
				<div class="row">
					<div class="col-md">
						<h6 class="light-weight-heading">What is Tribal Play?</h6>
						<p>Tribal play is an online entertainment platform with an initial stir in the movie industry with online streaming services, copyright licence distribution as well as a movies Thrill. which embeds majorly all information pertaining to a particular movie, series or documentary. From the title to the cast and every necessary details for users consumption. With the aim to optimizes user experience within the app via the aid of artificial intelligence that is
							 (machine learning) from data generated or gotten from the user.</p>
						<hr>
                        <h6 class="light-weight-heading">What is Tribal Play?</h6>
                        <br>Can I sell / Stream my movies with you? <br>
                        <br>Yes, that’s if it means the requirement laid down to selling / streaming of movies?<br>
                        <br>What are the requirements to sell my movies?<br>
                        <br>Click movierequirement.tribalplay.io to see the requirements. <br>
                   <br>     How can I sell / stream my Movies with Tribalplay? <br>
                         <br>   Send a message to  <a href="mailto:tribalplay.io@gmail.com">sellyourmovies@tribalplay.io</a> with the subject “SELLING OF MOVIE”. Additional information which include: <br>
                        <br> •	Link to the movie
                        <br> •	Senders Name:
                        <br>     •	Senders Phone Number:
                          <br>   •	Senders Email

                          <br>
                          Should be sent along so that communication will be established.
How do I know if Tribal Play accepts the movie I want to sell?
Tribal Play will contact you with the details provided (especially by mail) if the movie is approbated.
How long does it take to get a response about the movie I want to sell?
It takes between 5 to 7 working day to get a response from our team.
<br>
						<hr>
						<h6 class="light-weight-heading">Paying for Tribal Play :
                                How much does Tribal Play cost?
                                </h6>
						<p>We have a variety of plans to fit your life. <br>
                                Free - ($0 per month) Watch on 1 screen in SD quality.
                                <br> (available for a stipulated period of time)<br>
                                basic - ($9.99 per month) Watch on 2 screens HD available.<br>
                                Premium - ($11.99 per month) Watch on 4 screens HD & Ultra HD available.<br>
                                <br>
                                For detailed information about the plans, see <a href="/signup1"> Tribal Play Streaming Plans</a>.
                                .</p>
<hr>
<h6 class="light-weight-heading">How can I pay for Tribal Play?</h6>
<p>Via Credit and Debit Cards
        Via Prepaid Cards
        Via Remita
        Can I pay for Tribal Play services with Cash?
        No. We don’t accept cash as a payment option for your monthly Tribal subscription.
        </p>
<hr>
<h6 class="light-weight-heading">Can I pay for more than one month at a time?</h6>
<p>No. Tribal Play is a monthly subscription service.</p>
<hr>
<h6 class="light-weight-heading">How can I change my plan?</h6>
<p>To change your plan, visit Tribal Play.com/YourAccount and select Change Plan from the Plan Details section..</p>
<hr>
<h6 class="light-weight-heading">How do I update my payment information?</h6>
<p>Sign in to the Tribal Play website and visit your Account to update your Tribal Play payment information. Some payment options will direct you to their website to complete the update process.</p>
<hr>
<h6 class="light-weight-heading">How do I change my billing date?</h6>
<p>To change your billing date, you’ll need to cancel your account and restart it on the date you’d like to be billed on.</p>
<hr>
<h6 class="light-weight-heading">How do I see my Tribal Play billing history or monthly invoice?</h6>
<p>To see your billing history, visit Tribalplay.com/YourAccount and select billing history</p>
<hr>
<h6 class="light-weight-heading">How do I cancel Tribal Play?</h6>
<p>We are sorry we couldn’t serve the purpose to satisfy you, but if you need to cancel your account and end your membership, simply click Tribalplay.com/YourAccount/cancel-subscription.</p>



<hr>
<h6 class="light-weight-heading">What is a free trial?</h6>
<p>Tribal Play offers a free trial to new social group Play members that has unlimited access to the social group Play catalog. If you fancy your free trial, you may be charged when the trial ends. You are not charged for the trial service for a month.</p>
<hr>

					</div><!-- close .col-md -->
					
					
					<div class="col-md">
	
						<h6 class="light-weight-heading">If it's a free trial, why do I have to enter payment details?</h6>
						<p>Tribal Play asks for a payment method to ensure you have a smooth not abrupt service after the free trial ends. We do this by sending an authorization request to your financial institution to verify that your payment method works. These requests are not charges, but in some cases they may temporarily affect your available account balance.</p>
						<hr>
						
						<h6 class="light-weight-heading">What happens after the free trial?</h6>
						<p>If you find the service worth while during your free trial, you will be automatically charged for a monthly subscription and continue to have unlimited access to Tribal Play when your free trial ends if you didn’t cancel the plan/subscription.</p>
						<hr>
						<h6 class="light-weight-heading">Why do I see a charge when I signed up for a free trial?</h6>
						<p>Tribal Play verifies your payment details when they’re added or updated on an account to activate the free trial. This process helps us ensure that the information provided is associated with a valid, open account that can be charged successfully in the future. We validate the information by submitting an authorization for roughly the same amount as the cost of the monthly Tribal Play membership. These requests are not charges, but the authorization amount may temporarily affect your available balance while your financial institution ensures you have sufficient funds.
                            <br>When this authorization returns a successful result, we immediately send an automatic reversal requesting that the financial institution remove the authorization from your statement. While the request is immediate, it may take several days to reflect in your account. Check with your financial institution to see when you can expect the funds to be released.
                        </p>
						<hr>
						<h6 class="light-weight-heading">Why am I being charged more than I expected?</h6>
						<p>We wont charge you more than the prescribed plan price. But there are few reasons you may be seeing a charge that was more than you expected. Plan change - If you or someone in your household upgraded your Tribal Play plan, your bill will reflect the upgraded plan price</p>
						<hr>
						<h6 class="light-weight-heading">Why was I charged earlier than expected?</h6>
						<p>If your billing date is scheduled for a date that does not occur in a given month (such as the 31st), you'll be billed on the last day of that month instead.</p>




                        <hr>
						<h6 class="light-weight-heading">Why do I see a message that there’s a problem with my payment method?</h6>
						<p>This message indicates that Tribal Play was unable to collect a payment because the financial institution rejected the monthly charge. To resolve the issue, sign in to your Tribal Play account and update or change your payment method. In most cases, this will resolve the issue.
                            <br>If you're still having trouble updating your account with new payment information, please try a different payment method, or contact your financial institution to ensure your payment information is up to date and supports e-commerce transactions.
                        </p>
						<hr>
						<h6 class="light-weight-heading">Why was I charged earlier than expected?</h6>
						<p>If your billing date is scheduled for a date that does not occur in a given month (such as the 31st), you'll be billed on the last day of that month instead.</p>
						<hr>
						<h6 class="light-weight-heading">Why isn’t my payment method accepted?</h6>
						<p>Tribal Play accepts many payment methods/options. If you’ve confirmed that your payment method is listed under “How can I pay for Tribal Play?” above, and your payment method is still not being accepted, contact us for further assistance.</p>
						<hr>
						<h6 class="light-weight-heading">Why do I see a charge when I signed up for a free trial?</h6>
						<p>Tribal Play verifies your payment details when they’re added or updated on an account to activate the free trial. This process helps us ensure that the information provided is associated with a valid, open account that can be charged successfully in the future. We validate the information by submitting an authorization for roughly the same amount as the cost of the monthly Tribal Play membership. These requests are not charges, but the authorization amount may temporarily affect your available balance while your financial institution ensures you have sufficient funds.
                            <br>When this authorization returns a successful result, we immediately send an automatic reversal requesting that the financial institution remove the authorization from your statement. While the request is immediate, it may take several days to reflect in your account. Check with your financial institution to see when you can expect the funds to be released.
                        </p>
						<hr>
						<h6 class="light-weight-heading">Why am I being charged more than I expected?</h6>
						<p>We wont charge you more than the prescribed plan price. But there are few reasons you may be seeing a charge that was more than you expected. Plan change - If you or someone in your household upgraded your Tribal Play plan, your bill will reflect the upgraded plan price</p>
						<hr>
						<h6 class="light-weight-heading">Why was I charged earlier than expected?</h6>
						<p>If your billing date is scheduled for a date that does not occur in a given month (such as the 31st), you'll be billed on the last day of that month instead.</p>




                    </div><!-- close .col-md -->
				</div><!-- close .row -->
				
				
				<div class="clearfix"></div>
			</div><!-- close .container -->
			
			
		</div><!-- close #content-pro -->
		
		<footer id="footer-pro">
			<div class="container">
				<div class="row">
					<div class="col-md">
                            <a href="#"><div class="copyright-text-pro">&copy;  Copyright 2020  Tribal Play</a>.</div>
					</div><!-- close .col -->
					<div class="col-md">
						<ul class="social-icons-pro">
							<li class="facebook-color"><a href="# " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li class="twitter-color"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li class="youtube-color"><a href="# " target="_blank"><i class="fab fa-youtube"></i></a></li>
							<li class="vimeo-color"><a href="# " target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
						</ul>
					</div><!-- close .col -->
				</div><!-- close .row -->
			</div><!-- close .container -->
		</footer>
		
		<a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>
		
		
		<!-- Modal -->
		<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
			 <button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
			           <span aria-hidden="true">&times;</span>
			</button>
		  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
		    <div class="modal-content">
				 <div class="modal-header-pro">
					 <h2>Welcome Back</h2>
					 <h6>Sign in to your account to continue using SKRN</h6>
				 </div>
				 <div class="modal-body-pro social-login-modal-body-pro">
					 
					 <div class="registration-social-login-container">
						 <form>
							 <div class="form-group">
								 <input type="text" class="form-control" id="username" placeholder="Username">
							 </div>
							 <div class="form-group">
								 <input type="password" class="form-control" id="password" placeholder="Password">
							 </div>
							 <div class="form-group">
								 <button type="button" class="btn btn-green-pro btn-display-block">Sign In</button>
							 </div>
							 <div class="container-fluid">
								 <div class="row no-gutters">
							 		<div class="col checkbox-remember-pro"><input type="checkbox" id="checkbox-remember"><label for="checkbox-remember" class="col-form-label">Remember me</label></div>
									<div class="col forgot-your-password"><a href="#!">Forgot your password?</a></div>
								</div>
							</div><!-- close .container-fluid -->
						
						 </form>
					 
						 <div class="registration-social-login-or">or</div>
						 
					 </div><!-- close .registration-social-login-container -->
					 
					 <div class="registration-social-login-options">
					 	<h6>Sign in with your social account</h6>
						<div class="social-icon-login facebook-color"><i class="fab fa-facebook-f"></i> Facebook</div>
						<div class="social-icon-login twitter-color"><i class="fab fa-twitter"></i> Twitter</div>
						<div class="social-icon-login google-color"><i class="fab fa-google-plus-g"></i> Google</div>
					 </div><!-- close .registration-social-login-options -->
					 
					 <div class="clearfix"></div>
					 

 		      </div><!-- close .modal-body -->
				
			 <a class="not-a-member-pro" href="signup-step2.html">Not a member? <span>Join Today!</span></a>
		    </div><!-- close .modal-content -->
		  </div><!-- close .modal-dialog -->
		</div><!-- close .modal -->
		

		<!-- Required Framework JavaScript -->
		<script src="js/libs/jquery-3.3.1.min.js"></script><!-- jQuery -->
		<script src="js/libs/popper.min.js" defer></script><!-- Bootstrap Popper/Extras JS -->
		<script src="js/libs/bootstrap.min.js" defer></script><!-- Bootstrap Main JS -->
		<!-- All JavaScript in Footer -->
		
		<!-- Additional Plugins and JavaScript -->
		<script src="js/navigation.js" defer></script><!-- Header Navigation JS -->
		<script src="js/jquery.flexslider-min.js" defer></script><!-- Custom Document Ready JS -->		
		<script src="js/script.js" defer></script><!-- Custom Document Ready JS -->
		
	</body>

<!-- Mirrored from progression-studios.com/skrn/faqs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Apr 2018 17:04:32 GMT -->
</html>