<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">

	<link rel="stylesheet" href="icons/fontawesome/css/fontawesome-all.min.css">
	<!-- FontAwesome Icons -->
	<link rel="stylesheet" href="icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css">
	<!-- iconsmind.com Icons -->
	<script>
		// When the user clicks on div, open the popup
		function myFunction(form) {
			var e = document.forms["registration"]["email"].value;

			if (e == "") {
				alert("input a valid email");
				return false;
			}

			var popup = document.getElementById("myPopup");
			popup.classList.toggle("show");
		}


	</script>
	  <!-- Page Title Here -->
	  <link rel="icon" href="img/favicon.png" type="image/png">
	<title>
		tribal play | media
	</title>
	<style>
		/* Popup container - can be anything you want */
		.popup {
			position: relative;
			display: inline-block;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* The actual popup */
		.popup .popuptext {
			visibility: hidden;
			width: 160px;
			background-color: #555;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 8px 0;
			position: absolute;
			z-index: 1;
			bottom: 125%;
			left: 50%;
			margin-left: -80px;
		}

		/* Popup arrow */
		.popup .popuptext::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}

		/* Toggle this class - hide and show the popup */
		.popup .show {
			visibility: visible;
			-webkit-animation: fadeIn 1s;
			animation: fadeIn 1s;
		}

		/* Add animation (fade in the popup) */
		@-webkit-keyframes fadeIn {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}
	</style>
</head>

<body>

	<header id="masthead-pro">
		<div class="container">

			<h1>
				<a href="/">
					<img src="images/logo.png" alt="Logo">
				</a>
			</h1>

	</header>


	<div id="content-pro">

		<div class="container">
			<div class="centered-headings-pro pricing-plans-headings">
				<h1>Forgot password</h1>

			</div>
		</div>
		<!-- close .container -->


		<div id="pricing-plans-background-image">
			<div class="container">


				<div class="registration-steps-page-container">
					<form name="registration" class="registration-steps-form" form role="form" action="/forgot"
						method="POST" onSubmit="return myFunction(this);">

						<div class="registration-social-login-container">
							<div class="form-group">
								<label for="email" class="col-form-label">Email</label>
								<input type="email" class="form-control" name="email" id="email" autofocus
									class="form-control" placeholder="jondoe@gmail.com"
									value="<%= typeof email != 'undefined' ? email : '' %>" />
							</div>
							<div class="form-group">
								<div class="row">
									<!-- <div class="col">
    	  								 <label for="password" class="col-form-label">Password</label>
    	  	  							 <input type="password" class="form-control" name="password" id="password" placeholder="&middot;&middot;&middot;&middot;&middot;&middot;">
										</div> -->

								</div>
							</div>

							<div class="registration-social-login-or"></div>

						</div>
						<!-- close .registration-social-login-container -->

						<div class="registration-social-login-options">
							<a href="/auth/facebook">
								<div class="social-icon-login facebook-color"><i class="fab fa-facebook-f"></i> Facebook
								</div>
							</a>
							<!-- <div class="social-icon-login twitter-color">
								<i class="fab fa-twitter"></i> Twitter</div> -->
							<a href="/auth/google">
								<div class="social-icon-login google-color"><i class="fab fa-google-plus-g"></i> Google
								</div>
							</a>
						</div>
						<!-- close .registration-social-login-options -->

						<div class="clearfix"></div>
						<div class="form-group last-form-group-continue popup">
								<span class="popuptext" id="myPopup">Mail Sent!</span>
								<button type="submit" onclick="getOption()" class="btn btn-green-pro popup">reset
								</button>
							<!-- <a href="signup-step3.html" type="submit" class="btn btn-green-pro">Continue</a> -->
							<span class="checked checkbox-remember-pro">
								<input type="checkbox" id="checkbox-terms">
								<label for="checkbox-terms" class="col-form-label">By clicking "Reset", you agree to our
									<a href="#!">Terms of Use</a> and
									<a href="#!">Privacy Policy</a> including the use of cookies.</label>
							</span>
							<div class="clearfix"></div>
						</div>
					</form>

				</div>
				<!-- close .registration-steps-page-container -->

			</div>
			<!-- close .container -->
		</div>
		<!-- close #pricing-plans-background-image -->

	</div>
	<!-- close #content-pro -->
	<br>
	<br>
	<footer id="footer-pro">
		<div class="container">
			<div class="row">
				<div class="col-md">
					<a href="/faqs">
						<div class="copyright-text-pro">&copy; Copyright 2020 Tribal Play
					</a>.</div>
			</div>
			<!-- close .col -->
			<div class="col-md">
				<ul class="social-icons-pro">
					<li class="facebook-color">
						<a href="# " target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="twitter-color">
						<a href="#" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="youtube-color">
						<a href="# " target="_blank">
							<i class="fab fa-youtube"></i>
						</a>
					</li>
					<li class="vimeo-color">
						<a href="# " target="_blank">
							<i class="fab fa-vimeo-v"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- close .col -->
		</div>
		<!-- close .row -->
		</div>
		<!-- close .container -->
	</footer>

	<a href="#0" id="pro-scroll-top">
		<i class="fas fa-chevron-up"></i>
	</a>




	<!-- Required Framework JavaScript -->
	<script src="js/libs/jquery-3.3.1.min.js"></script>
	<!-- jQuery -->
	<script src="js/libs/popper.min.js" defer></script>
	<!-- Bootstrap Popper/Extras JS -->
	<script src="js/libs/bootstrap.min.js" defer></script>
	<!-- Bootstrap Main JS -->
	<!-- All JavaScript in Footer -->

	<!-- Additional Plugins and JavaScript -->
	<script src="js/navigation.js" defer></script>
	<!-- Header Navigation JS -->
	<script src="js/jquery.flexslider-min.js" defer></script>
	<!-- Custom Document Ready JS -->
	<script src="js/script.js" defer></script>
	<!-- Custom Document Ready JS -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		swal({ result })

	</script>
</body>

</html>